* {
  box-sizing: border-box;
}

html,
body {
  @extend .ma0;
  @extend .pa0;
  @extend .h-100;

  // https://goo.gl/YK3TNB
  // size/line-height | family
  font: 20px/1 'Open Sans', Arial, Helvetica, sans-serif;
  color: #444;
}

#app {
  @extend .df;
  @extend .h-100;
}

.link {
  @extend .teal;
  @extend .no-decoration;

  &:hover {
    @extend .u;
  }
}
