// Light.
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 100 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 100 300;
  font-style: italic;
}

// Regular.
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400 500;
  font-style: italic;
}

// Semi-bold.
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

// Bold.
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

// Extra bold.
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
